/* CUSTOM PROPERTY  */
:root {
    --primary: #EA625C;
    --primary-dark: #c9514c;
    --text-color: #222;
}


/* GLOBL STYLES  */

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

*:focus {
    outline: 2px dashed var(--primary);
    outline-offset: 3px;
}

/* CONTAINER  */

.container {
    width: 100%;
    max-width: 1100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* BUTTON  */

.button {
    display: inline-block;
    padding: 12px 38px;
    border: 0;
    background-color: var(--primary);
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition:   background-color 0.3s ease;
}

.button:hover {
    background-color: var(--primary-dark);
}
.button:active {
    opacity: 0.6;
}

.lined-link {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.6;
    font-weight: bold;
    color: var(--primary);
    text-transform: uppercase;
}
.lined-link::before {
    content: "";
    margin-right: 10px;
    width: 40px;
    height: 3px;
    background-color: var(--primary);
    transition: width 0.4s ease;
}
.lined-link:hover::before {
    width: 60px;
}

/* MAIN-CONTENT  */

.main-content {
    flex-grow: 1;
}

/* SITE-HEADER  */

.site-header {
    padding-top: 30px;
    padding-bottom: 30px;
}
.site-header-container {
    display: flex;
    align-items: center;
}

.site-header-logo {
    margin-right: auto;
}
.site-header-logo:hover {
    opacity:  0.8;
}
.site-header-logo:active {
    opacity:  0.6;
}
.site-header-logo-img {
    display: block;
    width: 35px;
    height: 42px;
    object-fit: contain;
}
.sitenav {
    margin-right: 40px;
}
.sitenav-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.sitenav-item:not(:last-child) {
    margin-right: 30px;
}
.sitenav-link {
    display: block;
    padding-top: 6px;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    font-size: 15px;
    color: #333;
    transition: border-bottom 0.3s ease;
}
.sitenav-link:hover {
    border-bottom: 3px solid #333;
}

/* SEARCH-FORM  */

.search-form-input {
    padding-top: 6px;
    padding-bottom: 6px;
    border: 0;
    border-bottom: 1px solid #333;
}

/* HERO  */

.hero {
    padding-top: 140px;
    padding-bottom: 183px;
    border-bottom: 2px solid #ddd;
    background-image: url("../img/intro-bg.png");
    background-repeat: no-repeat;
    background-position: left calc(50% + 550px) bottom;
}

/* LEAD-CTA  */

.lead-cta {
    width: 100%;
    max-width:450px;
}
.lead-cta-heading {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 1.2;
    color: #000;
}
.lead-cta-text {
    border-left: 3px solid #888;
    padding-left: 37px;
    margin-top: 0;
    color: #777;
}

/* FEATURES  */

.features {
    padding-top: 70px;
    padding-bottom: 70px;
}
.features-list {
    display: flex;
    margin: 0;
    padding: 0;
}
.features-item {
    width: 280px;
}
.features-item:not(:last-child) {
    margin-right: 80px;
}
.features-heading {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.5;
    color: #222;
    text-transform: uppercase;
}
.features-text {
    margin-top: 0;  
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.6;

    color: #333;
}
.features-divider {
    width: 8px;
    height: 8px;
    border: 0;
    margin: 0;
    background-color: #ddd;
    box-shadow: 16px 0 0 0 #ddd, 32px 0 0 0 #ddd;
}



/* RETINA IMG  */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    
    .hero {
        background-image: url('../img/intro-bg@2x.png');
    }

}